<body>
	<h1>New Cat:</h1>
	<hr>
	<form action="/cats" method="POST">
		<p>Name: <input type="text" name="name"></p>
		<p>Age: <input type="text" name="age"></p>
		<input type="submit">
	</form>
</body>